{% extends 'auctions/layout.html' %}
{% block body %}   
{% for listing in listings %}
<a href="{% url 'listing' listing.listing_id %}">
<div class="watchlist">
    <img src="{{listing.listing_image}}" width="50%"><br>
    {{listing.title}}
    <form action="{% url 'watchlist' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{listing.title}}" name="delete">
        <input type="submit" class="delete" value="delete">
    </form>
</div>
</a>
{% empty %}
<li>No listing</li>
{% endfor %}
{% endblock %}